/* [project]/app/components/tweet.css [app-client] (css) */
.tweet .react-tweet-theme {
  --tweet-container-margin: 0;
  --tweet-font-family: inherit;
  --tweet-font-color: inherit;
  --tweet-bg-color: #fff;
  --tweet-bg-color-hover: var(--tweet-bg-color);
  --tweet-color-blue-secondary: #4b5563;
  --tweet-color-blue-secondary-hover: #f3f4f6;
  --tweet-font-color-secondary: #6b7280;
  --tweet-quoted-bg-color-hover: rgba(0, 0, 0, 0.03);
  --tweet-border: 1px solid rgb(207, 217, 222);
  --tweet-skeleton-gradient: linear-gradient(
    270deg,
    #fafafa,
    #eaeaea,
    #eaeaea,
    #fafafa
  );
  --tweet-color-red-primary: rgb(249, 24, 128);
  --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
  --tweet-color-green-primary: rgb(0, 186, 124);
  --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
  --tweet-twitter-icon-color: var(--tweet-font-color);
  --tweet-verified-old-color: rgb(130, 154, 171);
  --tweet-verified-blue-color: var(--tweet-color-blue-primary);
  --tweet-actions-font-weight: 500;
  --tweet-replies-font-weight: 500;
}
@media (prefers-color-scheme: dark) {
  .tweet .react-tweet-theme {
    --tweet-bg-color: #222;
    --tweet-bg-color-hover: var(--tweet-bg-color);
    --tweet-quoted-bg-color-hover: rgba(255, 255, 255, 0.03);
    --tweet-border: 1px solid #333;
    --tweet-color-blue-secondary: #fff;
    --tweet-color-blue-secondary-hover: #333;
    --tweet-font-color-secondary: #9ca3af;
  }
}
.tweet .react-tweet-theme p {
  font-size: inherit;
  line-height: 1.3rem;
}
.tweet .react-tweet-theme p a {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219/ var(--tw-border-opacity));
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
@media (hover: hover) and (pointer: fine) {
  .tweet .react-tweet-theme p a:hover {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99/ var(--tw-border-opacity));
  }
}
@media (prefers-color-scheme: dark) {
  .tweet .react-tweet-theme p a {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/ var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/ var(--tw-text-opacity));
  }
  @media (hover: hover) and (pointer: fine) {
    .tweet .react-tweet-theme p a:hover {
      --tw-border-opacity: 1;
      border-color: rgb(255 255 255/ var(--tw-border-opacity));
    }
  }
}
.tweet .react-tweet-theme p a:hover {
  text-decoration: none;
}
.tweet a div {
  font-weight: 500;
  letter-spacing: -0.025em;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/icons/icons.module.css [app-client] (css) */
.verified__icons__b899a2af {
  margin-left: 0.125rem;
  max-width: 20px;
  max-height: 20px;
  height: 1.25em;
  fill: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: text-bottom;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-container.module.css [app-client] (css) */
.root__tweet-container__c1a27cad {
  width: 100%;
  min-width: 250px;
  max-width: 550px;
  overflow: hidden;
  color: var(--tweet-font-color);
  font-family: var(--tweet-font-family);
  font-weight: 400;
  box-sizing: border-box;
  border: var(--tweet-border);
  border-radius: 12px;
  margin: var(--tweet-container-margin);
  background-color: var(--tweet-bg-color);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}
.root__tweet-container__c1a27cad:hover {
  background-color: var(--tweet-bg-color-hover);
}
.article__tweet-container__c1a27cad {
  position: relative;
  box-sizing: inherit;
  padding: 0.75rem 1rem;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/theme.css [app-client] (css) */
.react-tweet-theme {
  --tweet-container-margin: 1.5rem 0;
  --tweet-header-font-size: 0.9375rem;
  --tweet-header-line-height: 1.25rem;
  --tweet-body-font-size: 1.25rem;
  --tweet-body-font-weight: 400;
  --tweet-body-line-height: 1.5rem;
  --tweet-body-margin: 0;
  --tweet-quoted-container-margin: 0.75rem 0;
  --tweet-quoted-body-font-size: 0.938rem;
  --tweet-quoted-body-font-weight: 400;
  --tweet-quoted-body-line-height: 1.25rem;
  --tweet-quoted-body-margin: 0.25rem 0 0.75rem 0;
  --tweet-info-font-size: 0.9375rem;
  --tweet-info-line-height: 1.25rem;
  --tweet-actions-font-size: 0.875rem;
  --tweet-actions-line-height: 1rem;
  --tweet-actions-font-weight: 700;
  --tweet-actions-icon-size: 1.25em;
  --tweet-actions-icon-wrapper-size: calc(
    var(--tweet-actions-icon-size) + 0.75em
  );
  --tweet-replies-font-size: 0.875rem;
  --tweet-replies-line-height: 1rem;
  --tweet-replies-font-weight: 700;
}
:where(.react-tweet-theme) * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:is([data-theme='light'], .light) :where(.react-tweet-theme), 
:where(.react-tweet-theme) {
  --tweet-skeleton-gradient: linear-gradient(
    270deg,
    #fafafa,
    #eaeaea,
    #eaeaea,
    #fafafa
  );
  --tweet-border: 1px solid rgb(207, 217, 222);
  --tweet-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  --tweet-font-color: rgb(15, 20, 25);
  --tweet-font-color-secondary: rgb(83, 100, 113);
  --tweet-bg-color: #fff;
  --tweet-bg-color-hover: rgb(247, 249, 249);
  --tweet-quoted-bg-color-hover: rgba(0, 0, 0, 0.03);
  --tweet-color-blue-primary: rgb(29, 155, 240);
  --tweet-color-blue-primary-hover: rgb(26, 140, 216);
  --tweet-color-blue-secondary: rgb(0, 111, 214);
  --tweet-color-blue-secondary-hover: rgba(0, 111, 214, 0.1);
  --tweet-color-red-primary: rgb(249, 24, 128);
  --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
  --tweet-color-green-primary: rgb(0, 186, 124);
  --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
  --tweet-twitter-icon-color: var(--tweet-font-color);
  --tweet-verified-old-color: rgb(130, 154, 171);
  --tweet-verified-blue-color: var(--tweet-color-blue-primary);
}
:is([data-theme='dark'], .dark) :where(.react-tweet-theme) {
  --tweet-skeleton-gradient: linear-gradient(
    270deg,
    #15202b,
    rgb(30, 39, 50),
    rgb(30, 39, 50),
    rgb(21, 32, 43)
  );
  --tweet-border: 1px solid rgb(66, 83, 100);
  --tweet-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  --tweet-font-color: rgb(247, 249, 249);
  --tweet-font-color-secondary: rgb(139, 152, 165);
  --tweet-bg-color: rgb(21, 32, 43);
  --tweet-bg-color-hover: rgb(30, 39, 50);
  --tweet-quoted-bg-color-hover: rgba(255, 255, 255, 0.03);
  --tweet-color-blue-primary: rgb(29, 155, 240);
  --tweet-color-blue-primary-hover: rgb(26, 140, 216);
  --tweet-color-blue-secondary: rgb(107, 201, 251);
  --tweet-color-blue-secondary-hover: rgba(107, 201, 251, 0.1);
  --tweet-color-red-primary: rgb(249, 24, 128);
  --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
  --tweet-color-green-primary: rgb(0, 186, 124);
  --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
  --tweet-twitter-icon-color: var(--tweet-font-color);
  --tweet-verified-old-color: rgb(130, 154, 171);
  --tweet-verified-blue-color: #fff;
}
@media (prefers-color-scheme: dark) {
  :where(.react-tweet-theme) {
    --tweet-skeleton-gradient: linear-gradient(
      270deg,
      #15202b,
      rgb(30, 39, 50),
      rgb(30, 39, 50),
      rgb(21, 32, 43)
    );
    --tweet-border: 1px solid rgb(66, 83, 100);
    --tweet-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif;
    --tweet-font-color: rgb(247, 249, 249);
    --tweet-font-color-secondary: rgb(139, 152, 165);
    --tweet-bg-color: rgb(21, 32, 43);
    --tweet-bg-color-hover: rgb(30, 39, 50);
    --tweet-color-blue-primary: rgb(29, 155, 240);
    --tweet-color-blue-primary-hover: rgb(26, 140, 216);
    --tweet-color-blue-secondary: rgb(107, 201, 251);
    --tweet-color-blue-secondary-hover: rgba(107, 201, 251, 0.1);
    --tweet-color-red-primary: rgb(249, 24, 128);
    --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
    --tweet-color-green-primary: rgb(0, 186, 124);
    --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
    --tweet-twitter-icon-color: var(--tweet-font-color);
    --tweet-verified-old-color: rgb(130, 154, 171);
    --tweet-verified-blue-color: #fff;
  }
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-header.module.css [app-client] (css) */
.header__tweet-header__992c2a5 {
  display: flex;
  padding-bottom: 0.75rem;
  line-height: var(--tweet-header-line-height);
  font-size: var(--tweet-header-font-size);
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}
.avatar__tweet-header__992c2a5 {
  position: relative;
  height: 48px;
  width: 48px;
}
.avatarOverflow__tweet-header__992c2a5 {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 9999px;
}
.avatarSquare__tweet-header__992c2a5 {
  border-radius: 4px;
}
.avatarShadow__tweet-header__992c2a5 {
  height: 100%;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
  box-shadow: rgb(0 0 0/ 3%) 0px 0px 2px inset;
}
.avatarShadow__tweet-header__992c2a5:hover {
  background-color: rgba(26, 26, 26, 0.15);
}
.author__tweet-header__992c2a5 {
  max-width: calc(100% - 84px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
}
.authorLink__tweet-header__992c2a5 {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.authorLink__tweet-header__992c2a5:hover {
  text-decoration-line: underline;
}
.authorVerified__tweet-header__992c2a5 {
  display: inline-flex;
}
.authorLinkText__tweet-header__992c2a5 {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.authorMeta__tweet-header__992c2a5 {
  display: flex;
}
.authorFollow__tweet-header__992c2a5 {
  display: flex;
}
.username__tweet-header__992c2a5 {
  color: var(--tweet-font-color-secondary);
  text-decoration: none;
  text-overflow: ellipsis;
}
.follow__tweet-header__992c2a5 {
  color: var(--tweet-color-blue-secondary);
  text-decoration: none;
  font-weight: 700;
}
.follow__tweet-header__992c2a5:hover {
  text-decoration-line: underline;
}
.separator__tweet-header__992c2a5 {
  padding: 0 0.25rem;
}
.brand__tweet-header__992c2a5 {
  margin-inline-start: auto;
}
.twitterIcon__tweet-header__992c2a5 {
  width: 23.75px;
  height: 23.75px;
  color: var(--tweet-twitter-icon-color);
  fill: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/verified-badge.module.css [app-client] (css) */
.verifiedOld__verified-badge__8c4261df {
  color: var(--tweet-verified-old-color);
}
.verifiedBlue__verified-badge__8c4261df {
  color: var(--tweet-verified-blue-color);
}
.verifiedGovernment__verified-badge__8c4261df {
  color: rgb(130, 154, 171);
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-in-reply-to.module.css [app-client] (css) */
.root__tweet-in-reply-to__8fc31dc1 {
  text-decoration: none;
  color: var(--tweet-font-color-secondary);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.root__tweet-in-reply-to__8fc31dc1:hover {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-link.module.css [app-client] (css) */
.root__tweet-link__23ec77c2 {
  font-weight: inherit;
  color: var(--tweet-color-blue-secondary);
  text-decoration: none;
  cursor: pointer;
}
.root__tweet-link__23ec77c2:hover {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-body.module.css [app-client] (css) */
.root__tweet-body__753cd1fd {
  font-size: var(--tweet-body-font-size);
  font-weight: var(--tweet-body-font-weight);
  line-height: var(--tweet-body-line-height);
  margin: var(--tweet-body-margin);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-media.module.css [app-client] (css) */
.root__tweet-media__2b6b401e {
  margin-top: 0.75rem;
  overflow: hidden;
  position: relative;
}
.rounded__tweet-media__2b6b401e {
  border: var(--tweet-border);
  border-radius: 12px;
}
.mediaWrapper__tweet-media__2b6b401e {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 2px;
  height: 100%;
  width: 100%;
}
.grid2Columns__tweet-media__2b6b401e {
  grid-template-columns: repeat(2, 1fr);
}
.grid3__tweet-media__2b6b401e > a:first-child {
  grid-row: span 2;
}
.grid2x2__tweet-media__2b6b401e {
  grid-template-rows: repeat(2, 1fr);
}
.mediaContainer__tweet-media__2b6b401e {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mediaLink__tweet-media__2b6b401e {
  text-decoration: none;
  outline-style: none;
}
.skeleton__tweet-media__2b6b401e {
  padding-bottom: 56.25%;
  width: 100%;
  display: block;
}
.image__tweet-media__2b6b401e {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-media-video.module.css [app-client] (css) */
.anchor__tweet-media-video__cd4d63d9 {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1rem;
  border: 1px solid transparent;
  border-radius: 9999px;
  font-weight: 700;
  transition: background-color 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline-style: none;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.videoButton__tweet-media-video__cd4d63d9 {
  position: relative;
  height: 67px;
  width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tweet-color-blue-primary);
  transition-property: background-color;
  transition-duration: 0.2s;
  border: 4px solid #fff;
  border-radius: 9999px;
  cursor: pointer;
}
.videoButton__tweet-media-video__cd4d63d9:hover, 
.videoButton__tweet-media-video__cd4d63d9:focus-visible {
  background-color: var(--tweet-color-blue-primary-hover);
}
.videoButtonIcon__tweet-media-video__cd4d63d9 {
  margin-left: 3px;
  width: calc(50% + 4px);
  height: calc(50% + 4px);
  max-width: 100%;
  color: #fff;
  fill: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.watchOnTwitter__tweet-media-video__cd4d63d9 {
  position: absolute;
  top: 12px;
  right: 8px;
}
.watchOnTwitter__tweet-media-video__cd4d63d9 > a {
  min-width: 2rem;
  min-height: 2rem;
  font-size: 0.875rem;
  line-height: 1rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(15, 20, 25, 0.75);
}
.watchOnTwitter__tweet-media-video__cd4d63d9 > a:hover {
  background-color: rgba(39, 44, 48, 0.75);
}
.viewReplies__tweet-media-video__cd4d63d9 {
  position: relative;
  min-height: 2rem;
  background-color: var(--tweet-color-blue-primary);
  border-color: var(--tweet-color-blue-primary);
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.viewReplies__tweet-media-video__cd4d63d9:hover {
  background-color: var(--tweet-color-blue-primary-hover);
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-info-created-at.module.css [app-client] (css) */
.root__tweet-info-created-at__b3b63d57 {
  color: inherit;
  text-decoration: none;
  font-size: var(--tweet-info-font-size);
  line-height: var(--tweet-info-line-height);
}
.root__tweet-info-created-at__b3b63d57:hover {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-info.module.css [app-client] (css) */
.info__tweet-info__8f93dc79 {
  display: flex;
  align-items: center;
  color: var(--tweet-font-color-secondary);
  margin-top: 0.125rem;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.infoLink__tweet-info__8f93dc79 {
  color: inherit;
  text-decoration: none;
  height: var(--tweet-actions-icon-wrapper-size);
  width: var(--tweet-actions-icon-wrapper-size);
  font: inherit;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -4px;
  border-radius: 9999px;
  transition-property: background-color;
  transition-duration: 0.2s;
}
.infoLink__tweet-info__8f93dc79:hover {
  background-color: var(--tweet-color-blue-secondary-hover);
}
.infoIcon__tweet-info__8f93dc79 {
  color: inherit;
  fill: currentColor;
  height: var(--tweet-actions-icon-size);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.infoLink__tweet-info__8f93dc79:hover > .infoIcon__tweet-info__8f93dc79 {
  color: var(--tweet-color-blue-secondary);
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-actions.module.css [app-client] (css) */
.actions__tweet-actions__dafce236 {
  display: flex;
  align-items: center;
  color: var(--tweet-font-color-secondary);
  padding-top: 0.25rem;
  margin-top: 0.25rem;
  border-top: var(--tweet-border);
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.like__tweet-actions__dafce236, 
.reply__tweet-actions__dafce236, 
.copy__tweet-actions__dafce236 {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}
.like__tweet-actions__dafce236:hover, 
.reply__tweet-actions__dafce236:hover, 
.copy__tweet-actions__dafce236:hover {
  background-color: rgba(0, 0, 0, 0);
}
.like__tweet-actions__dafce236:hover > .likeIconWrapper__tweet-actions__dafce236 {
  background-color: var(--tweet-color-red-primary-hover);
}
.like__tweet-actions__dafce236:hover > .likeCount__tweet-actions__dafce236 {
  color: var(--tweet-color-red-primary);
  text-decoration-line: underline;
}
.likeIconWrapper__tweet-actions__dafce236, 
.replyIconWrapper__tweet-actions__dafce236, 
.copyIconWrapper__tweet-actions__dafce236 {
  width: var(--tweet-actions-icon-wrapper-size);
  height: var(--tweet-actions-icon-wrapper-size);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.25rem;
  border-radius: 9999px;
}
.likeIcon__tweet-actions__dafce236, 
.replyIcon__tweet-actions__dafce236, 
.copyIcon__tweet-actions__dafce236 {
  height: var(--tweet-actions-icon-size);
  fill: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.likeIcon__tweet-actions__dafce236 {
  color: var(--tweet-color-red-primary);
}
.likeCount__tweet-actions__dafce236, 
.replyText__tweet-actions__dafce236, 
.copyText__tweet-actions__dafce236 {
  font-size: var(--tweet-actions-font-size);
  font-weight: var(--tweet-actions-font-weight);
  line-height: var(--tweet-actions-line-height);
  margin-left: 0.25rem;
}
.reply__tweet-actions__dafce236:hover > .replyIconWrapper__tweet-actions__dafce236 {
  background-color: var(--tweet-color-blue-secondary-hover);
}
.reply__tweet-actions__dafce236:hover > .replyText__tweet-actions__dafce236 {
  color: var(--tweet-color-blue-secondary);
  text-decoration-line: underline;
}
.replyIcon__tweet-actions__dafce236 {
  color: var(--tweet-color-blue-primary);
}
.copy__tweet-actions__dafce236 {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
.copy__tweet-actions__dafce236:hover > .copyIconWrapper__tweet-actions__dafce236 {
  background-color: var(--tweet-color-green-primary-hover);
}
.copy__tweet-actions__dafce236:hover .copyIcon__tweet-actions__dafce236 {
  color: var(--tweet-color-green-primary);
}
.copy__tweet-actions__dafce236:hover > .copyText__tweet-actions__dafce236 {
  color: var(--tweet-color-green-primary);
  text-decoration-line: underline;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-replies.module.css [app-client] (css) */
.replies__tweet-replies__b42491ab {
  padding: 0.25rem 0;
}
.link__tweet-replies__b42491ab {
  text-decoration: none;
  color: var(--tweet-color-blue-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline-style: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  padding: 0 1rem;
  border: var(--tweet-border);
  border-radius: 9999px;
}
.link__tweet-replies__b42491ab:hover {
  background-color: var(--tweet-color-blue-secondary-hover);
}
.text__tweet-replies__b42491ab {
  font-weight: var(--tweet-replies-font-weight);
  font-size: var(--tweet-replies-font-size);
  line-height: var(--tweet-replies-line-height);
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/quoted-tweet/quoted-tweet-container.module.css [app-client] (css) */
.root__quoted-tweet-container__4b125a78 {
  width: 100%;
  overflow: hidden;
  border: var(--tweet-border);
  border-radius: 12px;
  margin: var(--tweet-quoted-container-margin);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
}
.root__quoted-tweet-container__4b125a78:hover {
  background-color: var(--tweet-quoted-bg-color-hover);
}
.article__quoted-tweet-container__4b125a78 {
  position: relative;
  box-sizing: inherit;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/quoted-tweet/quoted-tweet-header.module.css [app-client] (css) */
.header__quoted-tweet-header__1d12f65a {
  display: flex;
  padding: 0.75rem 0.75rem 0 0.75rem;
  line-height: var(--tweet-header-line-height);
  font-size: var(--tweet-header-font-size);
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}
.avatar__quoted-tweet-header__1d12f65a {
  position: relative;
  height: 20px;
  width: 20px;
}
.avatarSquare__quoted-tweet-header__1d12f65a {
  border-radius: 4px;
}
.author__quoted-tweet-header__1d12f65a {
  display: flex;
  margin: 0 0.5rem;
}
.authorText__quoted-tweet-header__1d12f65a {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.username__quoted-tweet-header__1d12f65a {
  color: var(--tweet-font-color-secondary);
  text-decoration: none;
  text-overflow: ellipsis;
  margin-left: 0.125rem;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/quoted-tweet/quoted-tweet-body.module.css [app-client] (css) */
.root__quoted-tweet-body__847d3b0e {
  font-size: var(--tweet-quoted-body-font-size);
  font-weight: var(--tweet-quoted-body-font-weight);
  line-height: var(--tweet-quoted-body-line-height);
  margin: var(--tweet-quoted-body-margin);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 0 0.75rem;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-not-found.module.css [app-client] (css) */
.root__tweet-not-found__13e82c60 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.75rem;
}
.root__tweet-not-found__13e82c60 > h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/skeleton.module.css [app-client] (css) */
.skeleton__skeleton__d34b20bd {
  display: block;
  width: 100%;
  border-radius: 5px;
  background-image: var(--tweet-skeleton-gradient);
  background-size: 400% 100%;
  animation: loading__skeleton__d34b20bd 8s ease-in-out infinite;
}
@media (prefers-reduced-motion: reduce) {
  .skeleton__skeleton__d34b20bd {
    animation: none;
    background-position: 200% 0;
  }
}
@keyframes loading__skeleton__d34b20bd {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* [project]/node_modules/react-tweet/dist/twitter-theme/tweet-skeleton.module.css [app-client] (css) */
.root__tweet-skeleton__57a63776 {
  pointer-events: none;
  padding-bottom: 0.25rem;
}

/*# sourceMappingURL=_a7169a._.css.map*/
